<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>R2 Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="banner">
        <h1>Playability of Titanfall 2 as per user reports on reddit in the last 2 days</h1>
    </div>
    <div class="split left">
        <div class="centered">
            <h1>Playable</h1>
            <table>
                <tr>
                    <th>Platform:</th>
                    <th>Responses</th>
                    <th></th>
                </tr>
                <tr>
                    <td>PC:</td>
                    <td> {{ result["PC"]["playable"] }} </td>
                    <td>Borked? <a href=" {{ reddit_dm_dict['PC']['borked'] }} ">-&gt; Send DM</a></td>
                </tr>
                <tr>
                    <td>Xbox:</td>
                    <td> {{ result["Xbox"]["playable"] }} </td>
                    <td>Borked? <a href=" {{ reddit_dm_dict['Xbox']['borked'] }} ">-&gt; Send DM</a></td>
                </tr>
                <tr>
                    <td>Playstation:</td>
                    <td> {{ result["Playstation"]["playable"] }} </td>
                    <td>Borked? <a href=" {{ reddit_dm_dict['Playstation']['borked'] }} ">-&gt; Send DM</a></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <h1>Borked</h1>
            <table>
                <tr>
                    <th>Platform:</th>
                    <th>Responses</th>
                </tr>
                <tr>
                    <td>PC:</td>
                    <td> {{ result["PC"]["borked"] }} </td>
                    <td>Playable? <a href=" {{ reddit_dm_dict['PC']['playable'] }} ">-&gt; Send DM</a></td>
                </tr>
                <tr>
                    <td>Xbox:</td>
                    <td> {{ result["Xbox"]["borked"] }} </td>
                    <td>Playable? <a href=" {{ reddit_dm_dict['Xbox']['playable'] }} ">-&gt; Send DM</a></td>
                </tr>
                <tr>
                    <td>Playstation:</td>
                    <td> {{ result["Playstation"]["borked"] }} </td>
                    <td>Playable? <a href=" {{ reddit_dm_dict['Playstation']['playable'] }} ">-&gt; Send DM</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="footer">Source on <a href="https://gitlab.com/GeckoEidechse/r2-status-reddit-aggregator">Gitlab</a></div>
</body>

</html>
