body {
    background-color: gray;
    font-family: Arial;
    color: white;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #40a05e;
}

.right {
    right: 0;
    background-color: #e44b4d;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #36393f;
    border-radius: 10px;
    padding: 5px;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}

table, td {
    text-align: right;
    border: 1px solid black;
}

.banner {
    background-color: #2f3136;
    text-align: center;
    z-index: 1;
    position: relative;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
}

.footer {
    position: absolute;
    bottom: 0px;
    height: 1.5rem;
    background-color: #36393f;
    border-radius: 10px;
    padding: 10px;
}

a {
    color: #0da3e0;
}
